# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv('../weather_data.csv')
weather_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,qaanaaq,77.4840,-69.3632,31.57,84,96,12.08,GL,1619636371
1,angoram,-4.0625,144.0661,72.73,97,100,2.13,PG,1619636372
2,dasoguz,41.8363,59.9666,77.00,29,0,4.61,TM,1619636372
3,chokurdakh,70.6333,147.9167,1.20,95,82,7.11,RU,1619636373
4,busselton,-33.6500,115.3333,61.00,97,100,3.89,AU,1619636373
5,ushuaia,-54.8000,-68.3000,42.80,75,40,27.63,AR,1619636164
6,cabedelo,-6.9811,-34.8339,84.20,74,75,12.66,BR,1619636374
7,albany,42.6001,-73.9662,73.99,36,100,3.83,US,1619636376
8,faanui,-16.4833,-151.7500,81.90,72,96,11.30,PF,1619636376
9,ancud,-41.8697,-73.8203,55.00,100,90,3.44,CL,1619636377

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Create a heatmap
figure_layout = {'width': '600px', 'height': '440px'}
fig = gmaps.figure(layout=figure_layout)
heatmap_layer=gmaps.heatmap_layer(weather_df[['Lat', 'Lng']], weights=weather_df['Humidity'], 
                                  max_intensity=100, point_radius=9)
heatmap_layer.opacity = .75
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='440px', width='600px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
#Enter a few weather criteria to get to a list of ideal locations
temp_ideal = weather_df.loc[weather_df['Max Temp'] > 75]
humidity_ideal = temp_ideal.loc[temp_ideal['Humidity'] < 75]
wind_ideal = humidity_ideal.loc[humidity_ideal['Wind Speed'] < 5]
hotel_df = wind_ideal.loc[wind_ideal['Cloudiness'] < 20]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,dasoguz,41.8363,59.9666,77.00,29,0,4.61,TM,1619636372
47,hithadhoo,-0.6000,73.0833,83.28,67,15,3.29,MV,1619636396
61,san jose,37.3394,-121.8950,78.01,32,0,1.99,US,1619636358
118,kavaratti,10.5669,72.6420,84.56,69,0,4.85,IN,1619636445
137,herat,34.5000,62.0000,77.00,18,0,3.44,AF,1619636456
232,laguna,38.4210,-121.4238,78.01,26,1,4.27,US,1619636513
327,makakilo city,21.3469,-158.0858,78.80,65,1,3.87,US,1619636540
436,akdepe,42.0551,59.3788,77.00,29,0,4.61,TM,1619636627
471,tura,25.5198,90.2201,79.95,32,0,4.70,IN,1619636643
502,chhabra,24.6667,76.8333,91.72,7,5,2.80,IN,1619636662
516,sabang,5.8933,95.3214,82.98,70,17,2.39,ID,1619636669
547,sabancuy,18.9667,-91.1833,96.53,37,0,2.95,MX,1619636689

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df.insert(9, "Hotel Name", "")

In [6]:
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
2,dasoguz,41.8363,59.9666,77.00,29,0,4.61,TM,1619636372,
47,hithadhoo,-0.6000,73.0833,83.28,67,15,3.29,MV,1619636396,
61,san jose,37.3394,-121.8950,78.01,32,0,1.99,US,1619636358,
118,kavaratti,10.5669,72.6420,84.56,69,0,4.85,IN,1619636445,
137,herat,34.5000,62.0000,77.00,18,0,3.44,AF,1619636456,

In [7]:
#Call the API

target_radius = 15000
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": target_radius,
    "type": "lodging",
    "key": g_key,
}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    # get lat and lng from dataframe
    lat_lon = str(row['Lat']) + "," + str(row['Lng'])

    # add keyword to params dict
    params['location'] = lat_lon

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {lat_lon}.")
    response = requests.get(base_url, params=params).json()
    #pprint(response) 
    results = response['results']
    # extract results
    try:
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    except:
        print('no data')

Retrieving Results for Index 211: -19.7625,-44.3139.

/opt/anaconda3/envs/TestEnv/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Retrieving Results for Index 272: 5.7667,73.3833.
Retrieving Results for Index 294: 16.3333,-15.0.
no data
Retrieving Results for Index 327: 28.4333,69.5833.
Retrieving Results for Index 355: 25.0213,37.2685.
Retrieving Results for Index 408: 29.9502,-91.7507.
Retrieving Results for Index 419: 30.1897,-82.6393.
Retrieving Results for Index 433: 29.5667,-104.4167.
Retrieving Results for Index 472: 31.61,34.7642.
Retrieving Results for Index 509: 24.6877,46.7219.
Retrieving Results for Index 543: 29.2833,74.3833.

In [9]:
print(hotel_df.head())

            City      Lat      Lng  Max Temp  Humidity  Cloudiness  \
211   esmeraldas -19.7625 -44.3139     77.00        41           0
272     manadhoo   5.7667  73.3833     83.01        72           9
294  saint-louis  16.3333 -15.0000     86.00        32           0
327      kashmor  28.4333  69.5833     83.88        14           0
355     umm lajj  25.0213  37.2685     80.31        51           0

     Wind Speed Country  Date                          Hotel Name
211        2.10      BR   NaN  Hotel Fazenda Lagoa Azul | Oficial
272        4.88      MV   NaN                 Sun Siyam Iru Fushi
294        2.30      SN   NaN
327        3.29      PK   NaN               Kashmore Bus Terminal
355        4.88      SA   NaN          Moon light Furnished Units

In [8]:
hotel_df = hotel_df.drop(294)
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
211,esmeraldas,-19.7625,-44.3139,77.00,41,0,2.10,BR,NaN,Hotel Fazenda Lagoa Azul | Oficial
272,manadhoo,5.7667,73.3833,83.01,72,9,4.88,MV,NaN,Sun Siyam Iru Fushi
327,kashmor,28.4333,69.5833,83.88,14,0,3.29,PK,NaN,Kashmore Bus Terminal
355,umm lajj,25.0213,37.2685,80.31,51,0,4.88,SA,NaN,Moon light Furnished Units
408,iberia,29.9502,-91.7507,78.80,41,1,3.44,US,NaN,La Quinta Inn & Suites by Wyndham New Iberia
419,lake city,30.1897,-82.6393,78.01,44,1,3.44,US,NaN,Hampton Inn & Suites Lake City
433,ojinaga,29.5667,-104.4167,93.20,6,1,4.43,MX,NaN,Suites Las Palmas
472,gat,31.6100,34.7642,80.01,20,0,4.00,IL,NaN,Ibex
509,riyadh,24.6877,46.7219,80.60,18,0,4.61,SA,NaN,"InterContinental Riyadh, an IHG Hotel"
543,rawatsar,29.2833,74.3833,77.07,15,0,1.66,IN,NaN,Honda Service Center

In [9]:
 # NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
figure_layout = {'width': '600px', 'height': '440px'}
fig = gmaps.figure(layout=figure_layout)

heatmap_layer = gmaps.heatmap_layer(weather_df[['Lat', 'Lng']], weights=weather_df['Humidity'], 
                                  max_intensity=100, point_radius=9)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

heatmap_layer.opacity = .75

fig.add_layer(heatmap_layer)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='440px', width='600px'))